<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>patient_reg</servlet-name>
        <servlet-class>com.app.action.patient_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnectionn</servlet-name>
        <servlet-class>com.app.utility.DBConnectionn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_reg</servlet-name>
        <servlet-class>com.app.action.doctor_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_login</servlet-name>
        <servlet-class>com.app.action.doctor_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_login</servlet-name>
        <servlet-class>com.app.action.patient_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientFileUpload</servlet-name>
        <servlet-class>com.app.action.PatientFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAction</servlet-name>
        <servlet-class>com.app.action.DownloadAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>patient_reg</servlet-name>
        <url-pattern>/patient_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnectionn</servlet-name>
        <url-pattern>/DBConnectionn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_reg</servlet-name>
        <url-pattern>/doctor_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_login</servlet-name>
        <url-pattern>/doctor_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_login</servlet-name>
        <url-pattern>/patient_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientFileUpload</servlet-name>
        <url-pattern>/PatientFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAction</servlet-name>
        <url-pattern>/DownloadAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
